@media (min-width: 792px),
(min-height: 442px) {
    .setpage {
        width: 100vw !important;
        height: 100vh !important;
        min-width: 100vw !important;
        min-height: 100vh !important;
    }
}

.setpage {
    width: 792px;
    height: 442px;
    min-width: 792px;
    min-height: 442px;
    padding: 10px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .search_content {
        display: flex;
        align-items: center;


        .tip {
            font-size: 15px;
            font-weight: 100;
        }

        .search_input {
            width: 400px;
        }
    }
}